<al-navbar></al-navbar>

<div class="mx-auto w-full md:w-1/2 lg:w-1/3">
	<h2 class="p-4 mb-6 font-semibold">View The Different Spinners</h2>
	<form [formGroup]="spinnerDemoForm" class="flex gap-4 mb-12 p-4">
		<div class="w-1/2">
			<label class="block" for="spinnerColor"> Spinner Color </label>
			<select
				class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"
				formControlName="spinnerColor"
				id="spinnerColor"
			>
				<option *ngFor="let opt of colorOptions" [value]="opt">
					{{ opt | uppercase }}
				</option>
			</select>
		</div>
		<div class="w-1/2">
			<label for="spinnerType"> Spinner Type </label>
			<select
				class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"
				formControlName="spinnerType"
				id="spinnerType"
			>
				<option *ngFor="let opt of spinnerTypeOptions" [value]="opt">
					{{ opt }}
				</option>
			</select>
		</div>
	</form>

	<ng-container *ngIf="formValues$ | async as formValues">
		<ngx-loader [spinnerType]="formValues.spinnerType"></ngx-loader>
	</ng-container>

	<h2 class="mt-8 font-semibold mb-4 p-4">coverContainer Spinner Demo</h2>

	<div class="relative h-60 bg-gray-300">
		<ngx-loader [coverContainer]="true"></ngx-loader>
	</div>
</div>
