{{ spinnerType }}
<div [ngSwitch]="spinnerType">
	<div *ngSwitchCase="spinnerTypes.rotatingSquare">
		<ng-rotating-square [spinnerColor]="spinnerColor"></ng-rotating-square>
	</div>
	<div *ngSwitchCase="spinnerTypes.pulsingCircles">
		<ng-pulsing-circles [spinnerColor]="spinnerColor"></ng-pulsing-circles>
	</div>
	<div *ngSwitchCase="spinnerTypes.growingBars">
		<ng-growing-bars [spinnerColor]="spinnerColor"></ng-growing-bars>
	</div>
	<div *ngSwitchCase="spinnerTypes.rotatingCubes">
		<ng-rotating-cubes [spinnerColor]="spinnerColor"></ng-rotating-cubes>
	</div>
	<div *ngSwitchCase="spinnerTypes.growingCircle">
		<ng-growing-circle [spinnerColor]="spinnerColor"></ng-growing-circle>
	</div>
	<div *ngSwitchCase="spinnerTypes.ellipsis">
		<ng-ellipsis [spinnerColor]="spinnerColor"></ng-ellipsis>
	</div>
	<div *ngSwitchCase="spinnerTypes.cubeGrid">
		<div class="sk-cube-grid cube-grid">
			<div [style.backgroundColor]="spinnerColor" class="sk-cube sk-cube1"></div>
			<div [style.backgroundColor]="spinnerColor" class="sk-cube sk-cube2"></div>
			<div [style.backgroundColor]="spinnerColor" class="sk-cube sk-cube3"></div>
			<div [style.backgroundColor]="spinnerColor" class="sk-cube sk-cube4"></div>
			<div [style.backgroundColor]="spinnerColor" class="sk-cube sk-cube5"></div>
			<div [style.backgroundColor]="spinnerColor" class="sk-cube sk-cube6"></div>
			<div [style.backgroundColor]="spinnerColor" class="sk-cube sk-cube7"></div>
			<div [style.backgroundColor]="spinnerColor" class="sk-cube sk-cube8"></div>
			<div [style.backgroundColor]="spinnerColor" class="sk-cube sk-cube9"></div>
		</div>
	</div>
	<div *ngSwitchCase="spinnerTypes.rotatingDots">
		<div class="spinner rotating-dots">
			<div [style.backgroundColor]="spinnerColor" class="dot1"></div>
			<div [style.backgroundColor]="spinnerColor" class="dot2"></div>
		</div>
	</div>
	<div *ngSwitchDefault>
		<ng-rotating-square [spinnerColor]="spinnerColor"></ng-rotating-square>
	</div>
</div>
