<div [ngSwitch]="spinnerType">
	<div *ngSwitchCase="spinnerTypes.rotatingSquare">
		<ng-rotating-square [spinnerColor]="spinnerColor"></ng-rotating-square>
	</div>
	<div *ngSwitchCase="spinnerTypes.pulsingCircles">
		<ng-pulsing-circles [spinnerColor]="spinnerColor"></ng-pulsing-circles>
	</div>
	<div *ngSwitchCase="spinnerTypes.growingBars">
		<ng-growing-bars [spinnerColor]="spinnerColor"></ng-growing-bars>
	</div>
	<div *ngSwitchCase="spinnerTypes.rotatingCubes">
		<ng-rotating-cubes [spinnerColor]="spinnerColor"></ng-rotating-cubes>
	</div>
	<div *ngSwitchCase="spinnerTypes.growingCircle">
		<ng-growing-circle [spinnerColor]="spinnerColor"></ng-growing-circle>
	</div>
	<div *ngSwitchCase="spinnerTypes.ellipsis">
		<ng-ellipsis [spinnerColor]="spinnerColor"></ng-ellipsis>
	</div>
	<div *ngSwitchCase="spinnerTypes.cubeGrid">
		<ng-cube-grid [spinnerColor]="spinnerColor"></ng-cube-grid>
	</div>
	<div *ngSwitchCase="spinnerTypes.rotatingDots">
		<ng-rotating-dots [spinnerColor]="spinnerColor"></ng-rotating-dots>
	</div>
	<div *ngSwitchDefault>
		<ng-rotating-square [spinnerColor]="spinnerColor"></ng-rotating-square>
	</div>
</div>
